@font-face {
  font-family: "gothambold1";
  src: url("fonts/gothambold1.woff") format("woff"), url("fonts/gothambold1.ttf") format("truetype");
}
@font-face {
  font-family: "GothamBook";
  src: url("fonts/GothamBook.woff") format("woff"), url("fonts/GothamBook.ttf") format("truetype");
}
*,
:before,
:after {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.wrapper {
  font-family: "GothamBook";
  margin: 0;
  font-size: 18px;
  line-height: 1.6;
}

.header {
  position: relative;
}

.header__nav {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  text-transform: uppercase;
  z-index: 1000;
  width: 100%;
  padding-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__logo:hover {
  cursor: pointer;
}

.nav__items {
  color: white;
  opacity: 0.7;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.item__link {
  margin: 0 30px;
  color: white;
  opacity: 0.7;
  text-decoration: none;
}
.item__link:hover {
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s linear;
  color: white;
}

.nav__social {
  display: flex;
  justify-content: space-between;
}

.social__icon {
  z-index: 100000;
  font-size: 18px;
  position: relative;
  margin: 0 15px;
  transition: all 0.7s linear;
}
.social__icon i {
  z-index: 100000;
  position: absolute;
  top: 12px;
  left: 12px;
  color: white;
  opacity: 1;
}
.social__icon:hover {
  filter: brightness(100);
  cursor: pointer;
}

.header__scroll {
  font-size: 18px;
  z-index: 100000;
  position: absolute;
  bottom: 5%;
  left: 49%;
  transition: all 0.2s linear;
}
.header__scroll i {
  position: absolute;
  top: 12px;
  left: 15px;
  z-index: 100000;
  color: white;
  opacity: 1;
}
.header__scroll:hover {
  filter: brightness(100);
  cursor: pointer;
}

.header__title {
  color: white;
}

.title-main {
  font-size: 80px;
  font-weight: 700;
}

.title-subtitle {
  font-size: 18px;
  letter-spacing: 5px;
  text-align: center;
}

.projects {
  height: 100%;
  color: #2C4058;
  margin-bottom: 100px;
}

.blog__title {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 700;
  padding-top: 25px;
  border-top: 2px solid #A0C0F7;
}

.projects__info {
  display: flex;
  padding-top: 100px;
}

.img-top {
  box-shadow: -120px -55px 0em #55B7FF;
}

.img-bottom {
  box-shadow: 120px -55px #7E5AFF;
}

.info__card {
  text-align: left;
  margin: 0 30px;
  padding-top: 50px;
}

.card-wrapper {
  margin: 0 15px;
}

.card__title {
  font-weight: 700;
}

.card__text {
  margin: 30px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.card__button {
  text-transform: uppercase;
  padding: 10px 30px;
  font-size: 14px;
  margin-bottom: 50px;
}

.card__location {
  font-style: italic;
}

.news {
  padding-bottom: 80px;
  height: 100vh;
  background-image: url(./img/bg-news_03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.title-news {
  color: white;
  margin-bottom: 30px;
}

.news__cards {
  margin-top: 40px;
}

.card__date {
  color: #55B7FF;
}

.gallery {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery__grid-container {
  margin: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px 15px;
  grid-template-areas: "a a b c" "a a d e";
}

.a {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: a;
}

.b {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: b;
}

.c {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: c;
}

.d {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: d;
}

.e {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
  grid-area: e;
}

.gallery-photo {
  display: block;
  width: 100%;
  opacity: 0.8;
}
.gallery-photo:hover {
  opacity: 1;
}

.footer__map {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__footer {
  height: 70vh;
  background-image: url(./img/bg-footer_03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer__form {
  background-color: white;
  margin-bottom: 50px;
  position: absolute;
  top: -250px;
}

.form__info {
  display: flex;
  padding: 50px 20px 30px;
}

.info__contacts {
  flex-basis: 50%;
  padding-top: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #2C4058;
}

.contacts__icons {
  color: #7E5AFF;
  margin-bottom: 20px;
}

.info__input {
  flex-basis: 50%;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.btn-input {
  text-align: right;
}

.list-input {
  width: 100%;
  margin-bottom: 15px;
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-top: 200px;
}

.footer__copyrights {
  color: white;
  font-size: 14px;
}